<template>
  <v-dialog
    v-model="showDetails"
    :max-width="'950px'"
    :max-height="'650px'"
    @keydown.esc="showDetails = false"
  >
    <v-card>
      <v-card-title>Details for block</v-card-title>
      <v-card-text>
        <div>Hash: {{blockDetails.hash}}</div>
        <div>Size:{{blockDetails.size}}</div>
        <div>Block index: {{blockDetails.block_index}}</div>
        <div>Previous hash {{blockDetails.prev_block}}</div>
      </v-card-text>
      <v-card-text>
        <div>List of transactions:</div>
        <v-data-table
          :headers="headers"
          :items="blockDetails.tx"
        />
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" text @click="showDetails = false">Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'BlockDetails',
  props: {
    blockDetails: {
      type: Object,
      default () {
        return {}
      }
    },
    show: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    showDetails: {
      get () {
        return this.show
      },
      set (value) {
        if (!value) this.$emit('onHide', value)
      }
    }
  },
  data () {
    return {
      headers: [
        {
          text: 'Index',
          value: 'index'
        },
        { text: 'Hash', value: 'hash', sortable: false },
        { text: 'Size', value: 'size' }
      ]
    }
  }
}
</script>
