<template>
  <v-container>
    <BlockDetails :blockDetails="blockDetails" :show="showDetails" @onHide="showDetails=false"/>
    <v-data-table
      :headers="headers"
      :items="data"
      :footer-props="{itemsPerPageOptions: itemsPerPageOptions}"
      :options.sync="pagination"
      :server-items-length="totalItems"
      :loading="loading"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>Latest Blocks</v-toolbar-title>
        </v-toolbar>
      </template>
      <template slot="item" slot-scope="props">
        <tr @click="showBlockDetails(props.item)">
          <td>{{ props.item.hash }}</td>
          <td>{{ props.item.height }}</td>
          <td>{{ props.item.time }}</td>
        </tr>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import DataMethods from './common/DataMethods.mixin'
import BlockDetails from './BlockDetails'

export default {
  name: 'LatestBlocksPage',
  mixins: [DataMethods],
  components: {
    BlockDetails
  },
  data: () => ({
    showDetails: false,
    totalItems: 0,
    loading: false,
    pagination: {},
    itemsPerPageOptions: [10, 50, 100],
    headers: [
      {
        text: 'Hash',
        value: 'hash',
        sortable: false
      },
      { text: 'Height', value: 'height' },
      { text: 'Time', value: 'time' }
    ],
    data: [],
    blockDetails: {},
    headersTx: [
      {
        text: 'Index',
        value: 'index'
      },
      { text: 'Hash', value: 'hash', sortable: false },
      { text: 'Size', value: 'size' }
    ]
  }),
  watch: {
    pagination: {
      async handler () {
        await this.loadLatestBlocks()
      },
      deep: true
    }
  },
  methods: {
    async showBlockDetails (item) {
      await this.loadBlockDetails(item.hash)
      this.showDetails = true
    },
    async loadLatestBlocks () {
      this.loading = true
      const response = await this.apiData('get', 'get-latest-blocks', this.pagination).catch(() => {
        // eslint-disable-next-line
        console.log('Error!')
        this.totalItems = 0
      })
      this.data.splice(0, this.data.length)
      if (response) {
        this.data.push(...response.data)
        this.totalItems = response.totalItems
      }
      this.loading = false
    },
    async loadBlockDetails (hash) {
      this.loading = true
      this.blockDetails = await this.apiData('get', 'get-block', { hash: hash }).catch(() => {
        // eslint-disable-next-line
        console.log('Error!')
      })
      this.loading = false
    }
  }
}
</script>
