<template>
  <v-container>
    <v-layout text-center wrap>
      <v-flex xs12>
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        ></v-img>
      </v-flex>
      <v-flex mb-4>
        <h1 class="display-2 font-weight-bold mb-3">
          If You had investested in Bitcoin
        </h1>
        <v-layout column align-center>
          <v-form ref="form">
            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              full-width
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="model.date"
                  :rules="rules.date"
                  label="Date"
                  persistent-hint
                  prepend-icon="event"
                  v-on="on"
                  readonly
                />
              </template>
              <v-date-picker v-model="model.date" no-title @input="menu = false"></v-date-picker>
            </v-menu>
            <v-text-field
              type="number"
              v-model="model.value"
              :rules="rules.value"
              name="value"
              label="Value"
              append-outer-icon="$"
              required
            />
          </v-form>
          <h2 v-if="result === false" class="headline font-weight-bold mb-3">Can't calculate. Please, input the value or try select another
            date.</h2>
          <h2 v-else class="headline font-weight-bold mb-3">It would be worth {{result}} dollars today!</h2>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import DataMethods from './common/DataMethods.mixin'

export default {
  ame: 'TestPage',
  mixins: [DataMethods],
  data: () => ({
    menu: false,
    result: false,
    model: {
      date: new Date().toISOString().slice(0, 10),
      value: null
    },
    rules: {
      date: [
        v => !!v || 'Date is required'
      ],
      value: [
        v => !!v || 'Value is required'
      ]
    }
  }),
  watch: {
    model: {
      async handler () {
        if (this.$refs.form.validate()) {
          try {
            this.result = await this.apiData('get', 'get-my-data', this.model)
          } catch (e) {
            this.result = false
          }
        }
      },
      deep: true
    }
  }
}
</script>
