<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Vuetify - </span>
        <span class="font-weight-light">MATERIAL DESIGN</span>
      </v-toolbar-title>
    </v-app-bar>
    <v-content>
      <LatestBlocksPage/>
    </v-content>
  </v-app>
</template>

<script>
import LatestBlocksPage from './components/LatestBlocksPage'

export default {
  name: 'App',
  components: {
    LatestBlocksPage
  }
}
</script>
